<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <button id='increase-temperature'>Increase temperature</button>
    <button id='decrease-temperature'>Decrease temperature</button>
    <button id='power-save-on'>Power save on</button>
    <button id='power-save-off'>Power save off</button>
    <button id='reset-temperature'>Reset temperature</button>
    <p id='energy-usage'>Energy usage</p>
    <p id='temperature'>Temperature</p>
    <p id='power-save'>Power save</p>
    <script src="../src/Thermostat.js"></script>
  </body>
</html>
